<html>

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/header-admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <title>Controle de acesso </title>
</head>

{% include 'header-admin.html' %}

<body>
    <div class="name-user">
        <h1>Bem vindo, {{ name }}</h1>
    </div>
    <div class="card" style="width: 18rem; ">
        <img src="https://previews.123rf.com/images/drizzd/drizzd1608/drizzd160800001/60596893-the-word-admin-and-gear-wheel-3d-rendering.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ADMINISTRATOR</h5>
            <p class="card-text">Painel de administrador, aqui é possível adicionar, visualizar ou excluir os
                visitantes cadastrados.</p>
            <a href="/listaVisitantesAdmin" class="btn btn-info">Lista de Visitantes</a>
            <br><br>
            <a href="/add" class="btn btn-success">Adicionar Visitante</a>
            <br><br>
            <a href="/delete" class="btn btn-danger">Excluir Visitante</a>
        </div>
    </div>
</body>

{% include 'footer.html' %}