<header class="header">
		<div class="container">
			<a href="index.html" class="img-logo">
				<img src="static/assets/imagens/Connor.png" alt="Connor Cibersec">
			</a>
			<nav class="grid-12 header_menu">
				<ul class="nav-menu">
					<li class="nav-item"><a class="nav-link" href="/cadastro">Cadastro</a></li>
					<li class="nav-item"><a class="nav-link" href="/camera">Datacenter</a></li>
					<li class="nav-item"><a class="nav-link" href="/registro">Registro de Ponto</a></li>
					<li class="nav-item"><a class="nav-link" href="/consulta">Consulta de Ponto</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Sair</a></li>
				</ul>
			</nav>
		</div>
	</header>
