<html>

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/header-admin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <title>Controle de acesso </title>
</head>

{% include 'header-admin.html' %}

<body>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Status Aprovação</th>

            </tr>
        </thead>

        {% for row in rows %}

        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["currentDate"]}}</td>
            <td>{{row["currentHour"]}}</td>
            <td>{{row["isApproved"]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

{% include 'footer.html' %}

</html>